<h1> Events Admin Index </h1>

<!-- <ul class="nav nav-tabs">
  <li><a href="#active" data-toggle="tab">Active</a></li>
  <li><a href="#pending" data-toggle="tab">Pending</a></li>
  <li><a href="#rejected" data-toggle="tab">Rejected</a></li>
</ul> -->


<!-- <ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home">Home</a></li>
  <li><a href="#profile">Profile</a></li>
  <li><a href="#messages">Messages</a></li>
  <li><a href="#settings">Settings</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="home">w3rd</div>
  <div class="tab-pane" id="profile">hello</div>
  <div class="tab-pane" id="messages">there</div>
  <div class="tab-pane" id="settings">yay</div>
</div> -->
        <!-- Tabs
        ================================================== -->

<div class="bs-docs-example tabs-top">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#pending" data-toggle="tab">Pending</a></li>
    <li><a href="#active" data-toggle="tab">Active</a></li>
    <li><a href="#rejected" data-toggle="tab">Rejected</a></li>
    <li><a href="#past" data-toggle="tab">Past</a></li>
  </ul>


  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="pending">
      <%= render :partial => "table", :locals => { :events => @pend_events } %>
    </div>
    <div class="tab-pane fade" id="active">
      <%= render :partial => "table", :locals => { :events => @events } %>
    </div>
    <div class="tab-pane fade" id="rejected">
      <%= render :partial => "table", :locals => { :events => @rejected_events } %>
    </div>
    <div class="tab-pane fade" id="past">
      <%= render :partial => "table", :locals => { :events => @past_events } %>
    </div>
  </div>
</div>