<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You Win, <%= @user.name %>!!</h1>
    <p>
      Your campaign on inlieugiving is now approved! Go to the website and start sharing your campaign!
    </p>

    <p>Thanks and have a great day!</p>
  </body>
</html>