<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You Win, <%= @user.name %>!!</h1>
    <p>
      Your Event Is So Grand We Actually Approved It!. It is now published, tell your friends! LINK LINK LINK WHEEE
    </p>

    <p>Thanks and have a great day!</p>
  </body>
</html>