<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Sorry, <%= @user.name %></h1>
    <p>
      Your inlieu giving campaign needs some change in order for us to be able to approve it. Read our response below, edit your campaign on the website, and wait to hear back from us.
    </p>
    <p> The reason why is below: </p>

    <h1> <%= @text %> </h1>

    <p>Thanks for understanding and have a great day!</p>
  </body>
</html>