<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thanks for donating, <%= @payment.name %>!!</h1>
    <p>
      It'll really make a difference and you're cool.
    </p>
    <p>Thanks for contributing and have a great day!</p>
  </body>
</html>