<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to inlieugiving <%= @user.name %></h1>
    <p>
      You have successfully signed up to inlieugiving, now go and make an event and help a charity! You can do it!
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: TBD.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>