<h1> Users Index </h1>
<div class="row table">
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td> <%= user.name %> </td>
	<td> <%= user.email %> </td>
	<td> <%= link_to 'Show', user %> </td>
	<td> <%= link_to 'Destroy', user, html_options = {:method => :delete} %> </td>
  </tr>
<% end %>

</table>
</div>