


<div class="container">

<!-- 	<div style="margin: 10px 0 0;">
		<img src="/assets/logo.png" width="303" height="53" alt="Ice Cream Truck" title="Ice Cream Truck" />
	</div> -->

	<div style="background: #ffffff; margin: 20px auto; text-align: center; width: 783px;">
		<div style="border: 1px solid #dddddd; padding: 3px;">
			<img src="/assets/hero.jpg" width="775" height="485" alt="Flying ice cream truck" />
			<p class="pink" style="font-size: 30px; line-height: 32px; margin: 5px 0;">Ice cream. Love it. Share it. Try it.</p>
		</div>
	</div>

	<div class="row">
		<div class="span4 center">
			<img src="/assets/cone.png" width="171" height="171" alt="Get a Flavor of What We Do" title="Get a Flavor of What We Do" />
			<h2>
				<a href="#" class="link">Get a <span class="italic">Flavor</span> of What We Do</a>
			</h2>
		</div>
		<div class="span4 center">
			<img src="/assets/scoop.png" width="171" height="171" alt="The Daily Scoop" title="The Daily Scoop" />
			<h2>
				<a href="#" class="link">The Daily <span class="italic">Scoop</span></a>
			</h2>
		</div>
		<div class="span4 center">
			<img src="/assets/truck.png" width="171" height="171" alt="Join Our Club" title="Join Our Club" />
			<h2>
				<a href="#" class="link">Join Our Club</a>
			</h2>
		</div>
	</div>
</div>

<hr>

      <div class="container">
        <a id="header-logo" class="pull-left">      
        </a>
      </div>