


<div class="container">

<!-- 	<div style="margin: 10px 0 0;">
		<img src="/assets/logo.png" width="303" height="53" alt="Ice Cream Truck" title="Ice Cream Truck" />
	</div> -->

	<div style="background: #ffffff; margin: 20px auto; text-align: center; width: 783px;">
		<div style="border: 1px solid #dddddd; padding: 3px;">
			<a href=<%= events_path %>><img src="/assets/bigbox.png" width="775" height="485" alt="Inlieugiving" /></a>
			<p class="orange" style="font-size: 30px; line-height: 32px; margin: 5px 0;">InLieu of gifts, get money for your favorite charity!</p>
		</div>
	</div>

	<div class="row">
		<div class="span4 center">
			<a href="#"><img src="/assets/littlebox.png" width="171" height="171" alt="Get a Flavor of What We Do" title="Get a Flavor of What We Do" /></a>
		</div>
		<div class="span4 center">
			<a href="#"><img src="/assets/littlebox2.png" width="171" height="171" alt="The Daily Scoop" title="The Daily Scoop" /></a>
		</div>
		<div class="span4 center">
			<a href=<%= events_path %>><img src="/assets/littlebox3.png" width="171" height="171" alt="Join Our Club" title="Join Our Club" /></a>
		</div>
	</div>
</div>

<hr>

      <div class="container">
        <a id="header-logo" class="pull-left">      
        </a>
      </div>