<div>

  <p>This form is currently in test mode. All succesful charges will be posted to my stripe account, but no real money will change hands.</p>
  <p></p>

  <p>Use a test credit card number, any 3 digit CVC, and a valid expiration date</p>
  <p></p>

  <p>Test Credit card numbers</p>
  <p></p>

  <table>
    <tr>
      <th>Number</th>
      <th>Card Type</th>
    </tr>
    <tr>
      <th>4242424242424242</th>
      <th>Visa</th>
    </tr>
    <tr>
      <th>4242424242424242</th>
      <th>Visa</th>
    </tr>
    <tr>
      <th>5555555555554444</th>
      <th>MasterCard</th>
    </tr>
    <tr>
      <th>5105105105105100</th>
      <th>MasterCard</th>
    </tr>
  </table>

  <p></p>

</div>

<%= render 'form' %>