<div id="payment">
  <h1>Your Subscription</h1>
</div>

<div>
      <ul>
        <li>
          name: <%= @payment.name %>
        </li>
        <li>
          money (cents): <%= @payment.money_raised %>
        </li>
        <li>
          email: <%= @payment.email %>
        </li>
      </ul>
</div>
