<footer class="footer">
  <small>
    Ugly InLieu by Kevin Sihlanick
  </small>
  <nav>
    <ul>
      <li><%= link_to "Events",   events_path %></li>
      <li><%= link_to "Users", users_path %></li>
    </ul>
  </nav>
</footer>